@model DBStore.DTO.ProductDTO

<div>
    <h4>ProductDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageCustomerRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageCustomerRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditProduct", new { id=Model.Id }) |
    <a asp-action="HomeProduct">Back to List</a>
</div>
