@model IEnumerable<DBStore.DTO.ProductDTO>

<p>
    <a asp-action="CreateProduct">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PricePerItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageCustomerRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageCustomerRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", new {  id=@item.Id }) |
                @Html.ActionLink("Details", "DetailsProduct", new { id = @item.Id }) |
                @Html.ActionLink("Delete", "DeleteProduct", new { id = @item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
